<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MeatNet Demo</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
	<h1>MeatNet Demo</h1>
	<div class="container">
		<h4>Get Meat Classification on your image!</h4>
		<form method="POST" action='formSubmit' enctype = "multipart/form-data">
	        	<input type="file" name="file" accept=".jpg, .jpeg, .png, .svg, .gif" required>
	        	<div class="training-job" style="display: flex; flex-direction: column;">
		        </div>		
	        	<div>
		    		<button type="submit" name="submit" onsubmit="disp()">Predict!</button>
		    	</div>
		  </form>
	</div>
	<script type="text/javascript">
		function disp()
		{
			document.getElementsByClassName('container')[0].style.display = 'none';
		}
	</script>
</body>
</html>